@{
    ViewData["Title"] = "Kapcsolat";
}

<div class="container">
    <div style="text-align:center">
        <br />
        <h3>Kérdésed van? Problémád akadt?</h3>
        <h2>Lépj velünk kapcsolatba!</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-4 text-danger">
            <form action="">
                <div class="form-group">
                    <label for="nev" class="control-label">Név</label><br />
                    <input class="form-control" id="nev" name="nev">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label><br />
                    <input class="form-control" id="email" name="emailcim">
                </div>
                <div class="form-group">
                    <label for="targy" class="control-label">Tárgy</label><br />
                    <select id="targy" name="targy">
                        <option value="kerdes">Kérdés</option>
                        <option value="panasz">Panasz</option>
                        <option value="javaslat">Javaslat</option>
                        <option value="eszrevetel">Észrevétel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="uzenet" class="control-label">Üzenet</label><br />
                    <textarea id="uzenet" name="uzenet" rows="10" cols="80"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Küldés" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}