@model TriatlonLogic.Models.Versenyzo

@{
	ViewData["Title"] = "Új versenyző hozzáadása";
}

<br>
<h2><i class="bi bi-person-plus-fill"></i> Új versenyző</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nev" class="control-label"></label>
				<input asp-for="Nev" class="form-control" />
				<span asp-validation-for="Nev" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Nem" class="control-label"></label>
				@Html.DropDownListFor(x => x.Nem, new List<SelectListItem>
								{
									new SelectListItem {Text = "Férfi", Value = "Férfi"},
									new SelectListItem {Text = "Nő", Value = "Nő"},
									new SelectListItem {Text = "Egyéb", Value = "Egyéb"},
								}, "--Kérem válasszon--", new { })
				<span asp-validation-for="Nem" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SzulIdo" class="control-label"></label>
				<input asp-for="SzulIdo" class="form-control" />
				<span asp-validation-for="SzulIdo" class="text-danger"></span>
			</div>
			@*<div class="form-group">
				<label asp-for="Korcsoport" class="control-label"></label>
				@Html.DropDownListFor(x => x.Nem, new List<SelectListItem>
								{
									new SelectListItem {Text = "Újonc", Value = "újonc"},
									new SelectListItem {Text = "Gyermek", Value = "Gyermek"},
									new SelectListItem {Text = "Serdülő", Value = "Serdülő"},
									new SelectListItem {Text = "Ifúsági", Value = "Ifúsági"},
									new SelectListItem {Text = "Junior", Value = "Junior"},
									new SelectListItem {Text = "Felnőtt", Value = "Felnőtt"},
									new SelectListItem {Text = "Szenior", Value = "Szenior"},
									new SelectListItem {Text = "Veterán", Value = "Veterán"},
									new SelectListItem {Text = "Elit", Value = "Elit"},
									new SelectListItem {Text = "Egyéb", Value = "Egyéb"},
								}, "--Kérlek válassz--", new { })
				<span asp-validation-for="Korcsoport" class="text-danger"></span>
			</div>*@
			<div class="form-group">
				<label asp-for="Egyesulet" class="control-label"></label>
				<input asp-for="Egyesulet" class="form-control" />
				<span asp-validation-for="Egyesulet" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Licence" class="control-label"></label>
				<input asp-for="Licence" class="form-control" />
				<span asp-validation-for="Licence" class="text-danger"></span>
			</div>
			<div class="form-group">
				<a class="btn btn-primary" asp-action="Index"><i class="bi bi-box-arrow-left"></i></a>
				<input type="submit" value="Mentés" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<br />
<br />

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
