@{
    ViewData["Title"] = "Főoldal";
}

@*<div class="text-center">
    <h4 class="font-weight-bold">Triatlon versenyek eredményeit kezelő weboldal</h4>*@
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
@*</div>*@

<body class="bg-dark">
    <div class="bg-image text-center shadow-1-strong text-dark justify-content-center"
         style="background-image: url('https://source.unsplash.com/twukN12EN7c/1920x1080'); height: 82vh; ">
        <main class="px-3">
            <br />
            <br />
            <h1><i class="bi bi-people-fill"></i> TRIATLON</h1>
            <hr />
            <p class="lead">Triatlon versenyek kezelése. Versenyzők nyilvántartása. Eredmények listázása.<br />Mind egy helyen. Könnyen, érthetően.</p>
            <p class="lead">
                <a href="Verseny" class="btn btn-lg btn-dark">Versenyek</a>
                <a href="Versenyzo" class="btn btn-lg btn-dark">Versenyzők</a>
                <a href="Eredmeny" class="btn btn-lg btn-dark">Eredmények</a>
                <a href="Kapcsolat" class="btn btn-lg btn-dark">Kapcsolat</a>
            </p>
        </main>
    </div>
</body>
