@{
    ViewData["Title"] = "Főoldal";
}

@*<div class="text-center">
    <h4 class="font-weight-bold">Triatlon versenyek eredményeit kezelő weboldal</h4>*@
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
@*</div>*@

<body class="bg-dark">
        <div class="d-flex h-100 text-center text-white bg-dark">
            <main class="px-3">
                <br />
                <br />
                <h1><i class="bi bi-people-fill"></i> TRIATLON</h1>
                <hr />
                <p class="lead">Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. Értelmes szöveg elhelyezése ide. </p>
                <p class="lead">
                    <a href="Verseny" class="btn btn-lg btn-primary">Versenyek</a>
                    <a href="Versenyzo" class="btn btn-lg btn-primary">Versenyzők</a>
                    <a href="Eredmeny" class="btn btn-lg btn-primary">Eredmények</a>
                    <a href="Kapcsolat" class="btn btn-lg btn-primary">Kapcsolat</a>
                </p>
            </main>
        </div>
</body>
