@model TriatlonLogic.Models.Korido

@{
	ViewData["Title"] = "Szerkesztés";
}

<br />
<h2><i class="bi bi-pencil-square"></i> Köridő szerkesztése</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="OID" />
			<div class="form-group">
				<label asp-for="Szakasz" class="control-label"></label>
				<input asp-for="Szakasz" class="form-control" />
				<span asp-validation-for="Szakasz" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="KorSzama" class="control-label"></label>
				<input asp-for="KorSzama" class="form-control" />
				<span asp-validation-for="KorSzama" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Ido" class="control-label"></label>
				<input asp-for="Ido" class="form-control" />
				<span asp-validation-for="Ido" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="VersenyVersenyzoOID" />
            <div class="form-group">
                <a class="btn btn-primary" href="javascript:history.go(-1)"><i class="bi bi-box-arrow-left"></i></a>
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
		</form>
	</div>
</div>
<br />
<br />

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
